html
    head
        meta(charset="utf-8")
        title "pug exercise"

    body
        h1 About
        img(src="kunta.jpg")
        p Quickly accelerating the car and then yanking the wheel so the car spins. Works well with snow and mud, after a rain. Not recomended for cars that tip easily.
        //- run JS Whenever you want
        -let currentDate = new Date();
        h3 #{currentDate}